@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: "Montserrat", sans-serif;
    background: url(./img/bg-background.jpg) no-repeat fixed;
    color: #c4c4c4;
    background-size: cover;
}

.first{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: min(1rem, 10vw);
    width: 90%;
    margin: 0 auto;
}

header{
    background: rgba(126, 7, 223, 0.5);
    padding: min(2rem, 10vh);
    backdrop-filter: blur(10px);
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    box-shadow: 0 0 10px 3px rgba(126, 7, 223, 0.5);
    text-shadow: 2px 2px 3px #000;
}

img{
    width: 100%;
}

main{
    padding: 2rem;
}

article{
    text-align: justify;
    background: rgba(230, 3, 211, 0.8);
}

.body{
    padding: 1rem;
}

/* második szekció ****************************/

.second{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: 90%;
    padding: 1rem 0;
    margin: 0 auto;
}

.second article:first-child{
    grid-column: 1/2;
    /* grid-row: 1/3; */
    grid-row: span 2;
    align-content: center;
    line-height: 1.5;
}

@media (max-width: 700px){
    .first{
        grid-template-columns: 1fr;
    }
    .second{
        grid-template-columns: 1fr;
    }
}